@model IEnumerable<GuestBooks.Models.Book>

@{
    ViewData["Title"] = "留言板";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">留下評論(❁´◡`❁)</a>
</p>

@foreach (var item in Model)
{
    <div class="card mb-4 ">
        <div class="row g-0">
            <div class="col-md-4">
                @if (item.Photo != null)
                {
                    <img src="~/BookPhotos/@item.Photo" class="img-fluid rounded-start" style="height:200px;object-fit:cover;">
                }
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column" >
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title) </h5>
                    <p class="card-text"> @Html.Raw(item.Description.Replace("\r\n", "<br>"))</p>
                    <div class="mt-auto text-end">
                        <p>
                            <small class="text-body-secondary">
                                @Html.DisplayFor(modelItem => item.Author)
                                於 @Html.DisplayFor(modelItem => item.CreateDate)
                            </small>
                            <a asp-action="Display" asp-route-id="@item.BookID">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


