@model IEnumerable<BondleApplication.Models.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "商品總覽";
}

<h1> @ViewData["Title"]</h1>

<div class="row">
@foreach (var item in Model)
{
        <div class="col-xl-4 col-md-6">
            <div class="card" >
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.ProductName">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">$@Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="#" class="btn btn-primary">加入收藏</a>
                </div>
            </div>
        </div>
}
</div>
















@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaunchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfflineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaunchDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfflineDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator.CreatorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Series.SeriesID)
                </td>
                <td>
                    <a asp-area="Supporter" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
